* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #14141f;
  font-family: Arial, sans-serif;
}

#root {
  max-width: 420px;
  margin: 0 auto;

  border-radius: 16px;
  overflow: hidden;
  background: #1b1b2b;
}

/* HEADER */
.header-section {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section__title {
  font-size: 30px;
  color: white;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(0, 0, 255);
}

/* BODY */
.body-section {
  width: 100%;
  min-height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARD DO INPUT */
.card-task {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

/* INPUT */
.card-task__entry {
  width: 100%;
  height: 45px;
  padding: 0 10px;

  border: none;
  border-radius: 6px;
  outline: none;

  font-size: 16px;

  margin-bottom: 20px;
}

.card-task__entry::placeholder {
  color: #999;
}

/* BOTÃO */
.card-task__btn-confirm {
  width: 100%;
  height: 45px;

  border: none;
  border-radius: 6px;

  background: #63c174;
  color: white;

  font-size: 17px;
  font-weight: bold;
  padding: 10px;
}

.card-task__btn-confirm {
  background: #54ae64;
}

/* LISTA DE TAREFAS */
.cardlist {
  width: 100%;
  padding: 0 20px 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cardtask {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #232338;
  border-radius: 6px;
  padding: 14px 16px;
}

.cardtask p {
  color: white;
  margin: 0;
  font-size: 15px;
}

.cardtask__actions {
  display: flex;
  gap: 8px;
}

.cardtask__btn {
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
}

.cardtask__btn--edit {
  background: #2f6fed00;
  border: 1px solid  rgb(8, 25, 215);
  
}

.cardtask__btn--delete {
  background: #2f6fed00;
  border: 1px solid #e33100;
}

/* FOOTER */
.footer-list {
  width: 100%;  
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.footer-list__right-text {
  font-size: 12px;
  color: white;
}

.cardtask__btn img {
  width: 16px;
  height: 16px;
  display: block;
}